body{
  background-color: mediumturquoise;
}
p{
  font-family: sans-serif;
  color: yellow;

}
h1{
  background-color: blue;
  color: white;
}
ul {
  font:Georgia, serif;
  text-decoration: none;
  color:yellow;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: pink;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
