body {
    margin: 0;
}
#gallery {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}
.frame {
  display: block;
  width: 100%;
  position: absolute;
}
div#sidebar {
  position: fixed;
  width: 80px;
  color: pink;
  text-decoration: none;
  display: block;
}
