body {
    margin: 0;
    background-color: yellow;
}

.frame {
  display: block;
  width: 100%;
  position: absolute;
}
#sidebar {
  position: relative;
  width: 100px;
  float:left;
  background-color: pink;

}
#recipe{
  margin: 0 auto;
	width: 50em;
}
.link{
  font-family: 'Staatliches', cursive;
  text-decoration: none;
  color:yellow;
}
a.link:visited{
  color:green;
}
a.link:hover{
  color:blue;
}
